@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
	--fr: #1e123d;
	--bg: #fff9f9;
	--bg2: #fbe9e9;
	--sec: #a42700;
}
html,
body {
	font-family: "Bebas Neue", sans-serif;
	padding: 0;
	margin: 0;
	background-color: var(--bg);
	color: var(--fr);
	/* filter: blur(5px); */
}
.intro {
	background-color: var(--fr);
	color: var(--bg);
	padding: 10%;
	background: url("../public/bg.png"), lightgray 50% / cover no-repeat;
}
body {
	background-color: transparent;
}
button {
	background-color: var(--sec);
	color: var(--bg);
	cursor: pointer;
	border: none;
	font-size: 2rem;
	border-radius: 0.1rem;
	text-align: center;
	padding: 0.5vw;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	font-family: "Bebas Neue", sans-serif;
	box-sizing: border-box;
}
p {
	font-size: 2rem;
}
input {
	border: none;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.into {
	text-align: center;
}
.headerText {
	font-size: 10rem;
	text-shadow: -5px -5px 0.4vw var(--fr);
	text-align: center;
}
.subText {
	font-size: 2rem;
	text-align: center;
}
.subButtons {
	/* make it spread apart */
	display: flex;
	text-align: center;
	justify-content: space-evenly;
}
.leftText {
	padding: 5vw 10vw;
	width: 45vw;
}
.leftHeader {
	font-size: 5rem;
	margin: 5vh 0 0 0 !important;
}
.foodImg {
	position: absolute;
	right: 20vw;
	top: 118%;
	width: 30vw;
	height: 20vw;
}
.rezerv {
	background-color: var(--bg2);
	padding: 1vw;
}
.rezervGrid {
	width: 45vw;
	padding: 0 2vw;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.rezervGrid * {
	font-size: 3rem;
	margin: 0.1vw 0;
}
.submitRezerv {
	width: 50%;
	margin: 1vw;
}
